{{yield}}

<div>
  {{!-- I remember having a solution to this in a project where I didn't need to specify the {header: true} ahead of time...  --}}
  {{#if slots.header}}
    <div>
      {{yield (hash name='header' params=(arr header 'hello' 'world'))}}
    </div>
  {{/if}}

  {{#if slots.main}}
    <div>
      {{yield (hash name='main' params=(arr body 'goodnight' 'moon'))}}
    </div>
  {{else}}
    <div>
      Default {{body.title}}
    </div>
  {{/if}}

  {{#if slots.footer}}
    <div>
      {{yield (hash name='footer' params=(arr footer 'awesome' 'you'))}}
    </div>
  {{/if}}
</div>