{{yield (hash register=(action _registerSlot))}}

<div>
  {{#if slots.header}}
    <div>
      {{yield (hash name='header' register=(action _registerSlot) params=(arr header 'hello' 'world'))}}
    </div>
  {{/if}}

  {{#if slots.main}}
    <div>
      {{yield (hash name='main' register=(action _registerSlot) params=(arr body 'goodnight' 'moon'))}}
    </div>
  {{else}}
    <div>
      I am the default {{body.title}}
    </div>
  {{/if}}

  {{#if slots.footer}}
    <div>
      {{yield (hash name='footer' register=(action _registerSlot) params=(arr footer 'awesome' 'you'))}}
    </div>
  {{/if}}
</div>