{{yield}}

<div>
  {{#yield-slot 'header'}}
    {{yield (block-params sampleObject 'SAMPLE')}}
  {{/yield-slot}}

  {{#yield-slot 'main'}}
    {{yield (block-params 'goodnight' 'moon')}}
  {{else}}
    <div>
      Default {{sampleBody}}
    </div>
  {{/yield-slot}}

  {{#yield-slot 'footer'}}
    <div>
      {{yield (block-params 'awesome' 'you')}}
    </div>
  {{/yield-slot}}
</div>