{{yield}}

{{#yield-slot 'header' (block-params 'header param')}}
  {{!#footer-component}}
    {{yield}}
  {{!/footer-component}}
{{else}}
  <div>Default header</div>
{{/yield-slot}}

{{#yield-slot 'body' (block-params (hash content='body content from hash'))}}
  <div>{{yield}}</div>
{{/yield-slot}}

{{#yield-slot 'widget' (block-params property)}}
  <div>{{yield}}</div>
{{/yield-slot}}

{{#yield-slot 'footer' (block-params 'footer param')}}
  {{#footer-component}}
    {{yield}}
  {{/footer-component}}
{{/yield-slot}}
